#pageContent {
    /*445 px is the width of our image, the widest thing in our website.*/
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
}
.navBar {
  background-color: #333;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.navBar ul li {
  float: left;
}

.navBar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar ul li a:hover {
    background-color: gray;
}

/*
.navBar ul li{
  display: inline;
}*/
